@font-face {font-family: "chula";src: url("fonts/Sarabun-Regular.ttf");}
/*CSS code from w3school stylesheet*/
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html,body{font-family:"chula",Verdana,sans-serif;font-size:15px;line-height:1.5}
html{overflow-x:hidden}h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.w3-serif{font-family:serif}.w3-sans-serif{font-family:sans-serif}.w3-cursive{font-family:cursive}.w3-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6,p{font-family:"chula","Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:13px 21px}
.w3-bar{width:100%;overflow:hidden;position:relative; box-shadow: #979091 0 1px 8px;}
.w3-center .w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0;}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:13px 21px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-button:hover{color:#000!important;background-color:#F7B5BB!important}
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:33.33333%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}.w3-col.m9,.w3-threequarter{width:74.99999%}
.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}
.w3-rest{overflow:hidden}.w3-stretch{margin-left:-16px;margin-right:-16px}
.w3-content,.w3-auto{margin-left:auto;margin-right:auto}.w3-content{max-width:980px}.w3-auto{max-width:1140px}
.w3-cell-row{display:table;width:100%}.w3-cell{display:table-cell}
.w3-cell-top{vertical-align:top}.w3-cell-middle{vertical-align:middle}.w3-cell-bottom{vertical-align:bottom}
.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.w3-auto{max-width:95%}}
@media (max-width:600px){.w3-modal-content{margin:0 10px;width:auto!important}.w3-modal{padding-top:30px}
.w3-dropdown-hover.w3-mobile .w3-dropdown-content,.w3-dropdown-click.w3-mobile .w3-dropdown-content{position:relative}	
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
@media (max-width:768px){.w3-modal-content{width:500px}.w3-modal{padding-top:50px}}
@media (min-width:993px){.w3-modal-content{width:900px}.w3-hide-large{display:none!important}.w3-sidebar.w3-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.w3-hide-medium{display:none!important}}
@media (max-width:992px){.w3-sidebar.w3-collapse{display:none}.w3-main{margin-left:0!important;margin-right:0!important}.w3-auto{max-width:100%}}
/*End of CSS code from w3school*/

/*HTML element style*/
.footer{background-color: #ffffff;height: 50px;width: 100%;box-shadow: #979091 0 -1px 8px;text-align: center;}
.footer p{padding:12px}
table, th, td{border: #555 1px solid;width: 100px;text-align: center; border-collapse: collapse;}
table{width: 100%;}
body{background-color: #efefef; min-height: 100svh;}
.middle{margin-top: 10px;}
.logo{height:60px;width:auto;display:block;}
.selected{color:#000!important;background-color:#F7B5BB!important}

/*Index page*/
@media (max-width:600px){
    .greeting{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 20px;
        margin-top: -25px;
    }
    #link_alumni{
        background-image: url("image/menu_4.png");
        background-size: cover;
        background-position: center; 
        width: 300px;
        height:300px; 
        margin: 2%;
        box-shadow: #c0c0c0 5px 5px 5px;
    }
    .links{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2%;
        margin-top:1%;
        justify-content: center;
        align-items: center;}
    
        .links > div{
            width: 300px;
            height: 300px;
            box-shadow: #c0c0c0 5px 5px 5px;
            margin: 10px;
        }
        #link_map{background-image:  url("image/1.png");background-size: cover;background-position: center;}
        #link_info{background-image: url("image/2.png");background-size: cover;background-position: center;}
        #link_contact{background-image: url("image/3.png");background-size: cover;background-position: center;}

.link_page:hover{
    opacity: 0.5;
}
}

@media (min-width:601px){ 
    .greeting{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    #link_alumni{
        background-image: url("image/menu_4.png");
        background-size: cover;
        background-position: center; 
        width: 30svh;
        height:30svh; 
        margin: 2%;
        box-shadow: #c0c0c0 5px 5px 5px;
        display: inline-block;
        margin-left: 25%;
    }

    .greeting > p{
        position:absolute;
        padding-left: 5%;
        padding-right: 5%;
        display: inline;
        margin-left: 40%;
        margin-top: 8%;
        width: 40%;
        text-align: left;
    }


    .mini_header{
        text-align: center;
        padding: 0.5%;
        width: 100%;
        background-color: #E4278F;
        color: #ffffff;
        box-shadow: #979091 0 1px 8px;
    }
    .links{
        display: flex;
        width: 100%;
        margin-left: 0;
        margin-bottom: 2%;
        margin-top:1%;
        justify-content: center;
        align-items: center;
    }
    .links > div{
    width: 50svh;
    height: 50svh;
    background-color: #F7B5BB;
    margin-left: 0.5%; 
    margin-right: 0.5%;
    box-shadow: #c0c0c0 5px 5px 5px;
}

#link_map{background-image:  url("image/1.png");background-size: cover;background-position: center;}
#link_info{background-image: url("image/2.png");background-size: cover;background-position: center;}
#link_contact{background-image: url("image/3.png");background-size: cover;background-position: center;}


.link_page:hover{
    opacity: 0.5;
}}

/*information window*/
.info-window{background-color: #fff;border-radius: 10px;position: relative;height: 200px;width: 250px;}
.info-window-header{position: absolute;width: 100%;height: 50px;top: 0;left: 0;border-radius: 10px;background-color:#E4278F;}
.info-window-header h1{position:absolute;font-size: 20px;font-style: bold;margin-top: 2%;left:20%;color: #fff;}
.info-window-header h3{position: absolute;font-size: 10px;margin-top: 12%;left:20%;color:#fff;}
#checkin{position: absolute;float: left;padding: 2%;height: 95%;top:2.5px;width: auto;}
.info-window-pic{background-color:#fff;border: #E4278F 3px solid;border-radius:10px;position: absolute;top: 60px;left: 0;width: 87.5px;height: 125px;}
.info-window-pic img{background-color:#fff;border-radius: 10px;position: absolute;width: 100%;height: 100%;}
.info-window-content{position: absolute;top: 55px;left: 37.5%;width: 62.5%;height: 145px;font-size: 10px;}
#show-type{position:absolute;top: 5%;left: 0;height: 10%;width: auto;}#show-type2{position:absolute;top: 5%;left: 40%;height: 10%;width: auto;}
#type{position: absolute;top: 10%!important;font-style: oblique!important;left: 0;color: #000!important;}
#content{position: absolute;top: 20%;left: 0;color:#555;}
#l57{position: absolute;top: 57%;left: 0;color:#555;}#l49{position: absolute;top: 49%;left: 0;color:#555;}#l51{position: absolute;top: 51%;left: 0;color:#555;}#l58{position: absolute;top: 58%;left: 0;color:#555;}
.info-window-content button{position: absolute;top:77.5%;left:57.5%;width: 60px;border-radius: 8px;background-color: #F7B5BB;padding:2px;border:none;box-shadow: #E4278F 3px 3px;}
.info-window-content button a{color: #000;text-decoration: none;}

/*google map*/
#googleMap {height: 83svh;width: 100vw;margin: -8px;margin-top: 5px;position:block;display: inline-block;}
.custom-map-control-button{
    color: #555;
    background-color: #fff;
    border:#ccc 1px solid;
    padding:10px;
    font-size: 18px;
}

/*Feedback form*/
@media (max-width:600px) {
    #contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #alumni_contact{
        background-color: #ffffff;
        width: 80%;
        height: 150px;
        margin-bottom: 10px;
        padding-left: 10px;
        box-shadow: #c0c0c0 5px 5px 5px;
    }

    #our_contact{
        background-color: #ffffff;
        width: 80%;
        height: 150px;
        margin-bottom: 10px;
        padding-left: 10px;
        box-shadow: #c0c0c0 5px 5px 5px;
    }

    #form{
        display:block;
    width: 95%;
    height: 85svh;
    margin: 10px;
    margin-right: 10px;
    
    }
    .mini_header{
        width:100vw;
        padding: 2px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #E4278F;
        color: #fff;
        text-align: center;
    }
    #form iframe{
        width: 100%;
        height: 85vw;
        padding:2%;
        border: none;
        overflow: hidden;
    } 
}
@media (min-width:601px){ 
#contact{
    height: 80svh;
    width: 100%;
}
#alumni_contact{
float:left;
position:absolute;
background-color: #ff0;
margin-left: 5%;
width: 42.5%;
}
#our_contact{
    float: left;
    position:absolute;
    background-color: #F7B5BB;
    margin-top: 20%;
    margin-left: 5%;
    width: 42.5%;
}
#form{
    display:block;
    position: absolute;
margin-left: 52.5%;
width: 42.5%;
height: 85svh;
border: #c0c0c0 1px solid;
}
#form iframe{
    width: 100%;
    height: 90%;
    padding:2%;
    border: none;
    overflow: hidden;
}
}


